{{!

 ADOBE CONFIDENTIAL
 __________________

  Copyright 2015 Adobe Systems Incorporated
  All Rights Reserved.

 NOTICE:  All information contained herein is, and remains
 the property of Adobe Systems Incorporated and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Adobe Systems Incorporated and its
 suppliers and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Adobe Systems Incorporated.

}}
<div class="scf-composer-block scf-js-composer-block">
    <input class="scf-composer-msg" type="text" data-attrib="editSubject" name="editSubject" placeholder="{{i18n "Add a blog title"}}" value="{{subject}}" />
    <input class="scf-composer-msg" type="text" data-attrib="editSubtitle" name="editSubtitle" placeholder="{{i18n "Add a blog subtitle"}}" value="{{subtitle}}" />
    <textarea class="scf-composer-msg" type="text" data-attrib="editMessage" name="editMessage" placeholder="{{i18n "Message"}}" class="comment-composer-input" {{#if configuration.isRTEEnabled}} data-field-type="rte" data-editorheight="400" data-editorresize="true" {{/if}}>{{{message}}}</textarea>
    {{#if configuration.isTaggingAllowed}}
        <div class="scf-composer-container-tags">
            <ul data-attrib="editTags" name="editTags" data-field-type="smarttags" data-tag-filter="{{configuration.tagFilterVal}}" data-tag-limit="{{configuration.tagFilterLimit}}"></ul>
        </div>
    {{/if}}
    {{#if configuration.usingPrivilegedUsers}}
        <div class="ui-widget">
            <input class="scf-composer-msg" type="text" class="scf-js-userfilter" data-field-type="userdropdown" name="composedFor" placeholder="{{#if properties.composedFor}}{{i18n "Composed for "}}{{author.name}}{{else}}{{i18n "Compose On Behalf of a User"}}{{/if}}" data-attrib="composedFor" />
        </div>
    {{/if}}
    <div class="scf-composer-container-publish">
        {{i18n "Publish"}}
        <br/>
        <div class="btn-group scf-js-pubish-type">
            <button type="button" class="btn btn-default dropdown-toggle" evt="click=hidePublishOption" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span id="button_label">{{i18n "Immediately"}}</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a evt="click=showImmediatelyOption">{{i18n "Immediately"}}</a></li>
                <li><a evt="click=showDraftOption">{{i18n "Draft"}}</a></li>
                <li><a evt="click=showPublishOption">{{i18n "At scheduled date and time"}}</a></li>
            </ul>
        </div>
        <div class="scf-form_datepicker_right scf-js-publish-time-input scf-composer-container-publish scf-is-hidden" id="scf-form_rightcol_right_event-basics-start">
            <input name="scf-event-basics-start-input" class="scf-form_field scf-form_field_text scf-event-basics-start-input form-control scf-js-event-basics-start-input ui-widget ui-corner-all" value="">
            <div class="scf-form_datepicker_middle">&nbsp;</div>
            <input type="text" id="scf-event-basics-start-time" name="scf-event-basics-start-time" class="scf-form_field scf-form_field_text ui-autocomplete-input scf-event-basics-start-time scf-js-event-basics-start-time form-control" data-timepicker-type="select" placeholder="hh:mm am" autocomplete="off" value="02:04 pm" style="display: none;">
            <select id="scf-event-basics-start-hour" class="scf-form_field scf-form_field_text scf-js-event-basics-start-time-hours form-control scf-event-timepicker scf-event-basics-start-hour scf-js-event-basics-start-hour" data-for="scf-js-event-basics-start-time">
        </select>
            <select class="scf-form_field scf-form_field_text scf-js-event-basics-start-time-minutes form-control scf-event-timepicker scf-event-basics-start-min scf-js-event-basics-start-min" data-for="scf-js-event-basics-start-time">
        </select>
            <select class="scf-form_field scf-form_field_text scf-js-event-basics-start-time-ampm form-control scf-event-timepicker" data-for="scf-js-event-basics-start-time">
          <option value="AM">{{i18n "AM"}}</option>
          <option value="PM" selected="selected">{{i18n "PM"}}</option>
        </select><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
        </div>
    </div>
    <div class="scf-clear-both"></div>
    <div class='scf-composer-toolbar'>
        {{#if configuration.isAttachmentAllowed}}
            <button class="btn btn-primary scf-composer-action scf-composer-attach" evt="click=openAttachmentDialog">{{i18n "Attach"}}</button>
            <input class="scf-comment-attachment-input scf-js-cmt-att-input" type="file" data-attrib='attachment' name="attachment" multiple evt="change=renderAttachmentList" />
        {{/if}}
        <div class="scf-composer-actions">
            <button class="btn btn-primary scf-draft-delete-btn scf-composer-delete" evt="click=deleteArticle">{{i18n "Delete"}}</button>
            <button class="btn btn-default" evt="click=navigateCancel">{{i18n "Cancel"}}</button>{{!-- Draft deletes should be allowed without config--}}
            <button class="btn btn-primary scf-js-save-draft-btn" evt="click=saveDraft" {{#unless draft}} style="display:none" {{/unless}}>{{i18n "Save"}}</button>
            <button class="btn btn-primary scf-js-publish-btn" evt="click=publishDraft" {{#if draft}} style="display:none" {{/if}}>{{i18n "Publish"}}</button>
        </div>
        {{#if configuration.isAttachmentAllowed}}
            <div class="scf-composer-attachments">
                <ul class="scf-attachment-list scf-js-composer-att"></ul>
            </div>
        {{/if}}
    </div>
</div>
